* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f4; /* Optional: Add a background color */
  color: #333; /* Optional: Set a default text color */
}
